@model  QuizFactory.Mvc.ViewModels.Play.QuestionPlayViewModel

<div class="question box-shadow gray">
    <h4>@Model.QuestionText </h4>
    @foreach (var a in Model.Answers)
    {
        <p>
            @Html.RadioButton("", a.Id, new { @class = "answer-radio" })  @a.Text
        </p>
    }
</div>
