@using QuizFactory.Mvc.ViewModels.Play

@model QuizPlayViewModel

@{
    Layout = "~/Views/Play/PlayQuizLayout.cshtml";
}

@{
    var percentage = (int)TempData["scorePercentage"];
    var questionsFromHistory = (List<QuestionPlayViewModel>)TempData["questionsFromHistory"];
    IEnumerable<QuestionPlayViewModel> questions;

    if (questionsFromHistory != null)
    {
        questions = questionsFromHistory;
    }
    else
    {
        questions = Model.Questions;
    }
}

@Html.Partial("_ListAnswerPartial", questions)

<div class="progress box-shadow">
    <div class="progress-bar" role="progressbar" aria-valuenow=@percentage aria-valuemin="0" aria-valuemax="100" style="width: @percentage%;">
        @percentage%
    </div>
</div>

@if (Request.IsAuthenticated)
{
    string classHidden = "";
    if (ViewBag.Voted == null || !(bool)ViewBag.Voted)
    {
        classHidden = "hidden";
        <span class="yellow lead">Vote: </span>
        <span class="star-rating">
            @for (int i = 0; i < 5; i++)
            {
                @Ajax.ActionLink(" ", "Vote", "Vote", new { value = i + 1, id = Model.Id, area = "Users" },
                    new AjaxOptions
                        {
                            HttpMethod = "POST",
                            OnFailure = "hideStars()",
                            OnSuccess = "hideStars()"
                        })<i></i>
            }
        </span>
    }

    <span id="message" class="lead yellow @classHidden">Thank you for voting!</span>
}
else
{
    @Html.ActionLink("Register for voting", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
}

@section scripts{
    <script>
        function hideStars() {
            $(".star-rating").addClass("hidden");
            $("#message").removeClass("hidden");
        }
    </script>
}